@charset "utf-8";
/* ブレークポイント */
$breakpoints: (
  //キー: 値
  "sm": "screen and (max-width: 767px)",
  "md": "screen and (min-width: 768px)"
) !default;

//メディアクエリー
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/*=====================================================
# colors
===================================================== */
$primary-color: #3ea1d1;
$font-color: #333333;
/*=====================================================
# common-style
===================================================== */
@include mq(sm) {
  .is-pc {
    display: none;
  }
}

@include mq(md) {
  .is-sp {
    display: none;
  }
}
body {
  font-size: 16px;
  color: $font-color;
  font-family: "ヒラギノ明朝 ProN", serif;
  line-height: (27/16);
}

img {
  width: 100%;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box; //リセットcssでbox-sizing: border-bpx;を指定している場合、paddingを含めたインナー幅になってしまうため、デフォルト値に戻す

  @include mq(sm) {
    padding: 0 15px;
  }
}
.section {
  margin-top: 160px;
  @include mq(sm) {
    margin-top: 96px;
  }
}
.util-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 1;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    background: $primary-color;
    margin: 16px auto;
    @include mq(sm) {
    }
  }
  @include mq(sm) {
    font-size: 30px;
  }
}
.util-link {
  font-size: 14px;
  letter-spacing: 0.1em; //(AV 1.4px / size 14px)
  color: $primary-color;
  border: 1px solid $primary-color;
  background: #fff;
  display: inline-block; //リンクを囲っている箱に対してtacを使うことができる
  padding: 10px 54px;
  transition: background-color 0.4s, color 0.4s;

  &.-active {
    background: $primary-color;
    color: #fff;
  }
  @include mq(md) {
    &:not(.-submit) {
      &:hover {
        background: $primary-color;
        color: #fff;
      }
    }
  }
}
/*=====================================================
# main
===================================================== */
main {
  padding-top: 70px; //headerの高さを指定してしまっため、mainの上部が隠れてしまうため
  @include mq(sm) {
    padding-top: 60px;
  }
}
/*=====================================================
# header
===================================================== */
.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .drawer-hamburger {
    .drawer--right & {
      right: 3px;
    }
  }

  .drawer-hamburger-icon {
    background: $primary-color;

    .drawer-open & {
      background: transparent;
    }

    &::before,
    &::after {
      background: $primary-color;
    }
  }
}
.header-inner {
  display: flex;
  align-items: center;
  @include mq(sm) {
    height: 60px;
  }
}
.header-nav {
  margin-left: auto;
  @include mq(sm) {
    top: 60px;
    background: $primary-color;
    padding: 24px;
  }
}
.header-logo {
  width: 120px;
}
.header-nav-list {
  @include mq(md) {
    display: flex;
  }
  @include mq(sm) {
    top: 60px;
  }
}
.header-nav-item {
  & + & {
    @include mq(md) {
      margin-left: 46px; //itemの次のitemから
    }
  }
}
.header-nav-item-link {
  display: block; //リンク要素の場合は基本的にdisplay: block;を指定
  color: $font-color;
  height: 70px; //クリック領域を広げるため
  line-height: 70px;
  letter-spacing: 0.1em;

  @include mq(sm) {
    color: #fff;
    font-size: 18px;
    text-align: right;
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
  }

  @include mq(md) {
    transition: color 0.4s;

    &:hover {
      color: $primary-color;
    }
  }
}

/*=====================================================
# top
===================================================== */
.top {
  position: relative;

  &__picture {
    @include mq(sm) {
      padding-top: 120%; //(高さ414px / 幅345px * 100%)
      background: url(/img/top-sp@2x.png) no-repeat center center/cover;
    }
    @include mq(md) {
      padding-top: (660px / 1200px * 100%);
      background: url(/img/top.png) top right/ 82.5% no-repeat; //(画像の横幅990px / インナー幅1200px)
    }
  }
  &__message {
    @include mq(md) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: #fff;
      padding: 82px 40px 82px 40px;
    }
  }

  &__message-title {
    font-size: 24px;
    font-weight: bold;

    @include mq(sm) {
      margin-top: 36px;
    }
  }

  &__text {
    margin-top: 18px;
    @include mq(sm) {
      margin-top: 28px;
    }
  }
}
/*=====================================================
# concept
===================================================== */
.concept-inner {
  margin-top: 64px;

  @include mq(md) {
    display: flex;
    align-items: center;
  }

  &__picture {
    @include mq(md) {
      flex: 0 0 50%; //50%以上にはならない
    }
  }

  &__message {
    @include mq(md) {
      margin-left: (80px / 1200px * 100%); //可変的にする
      flex: 0 1 50%; //50%の幅が余っていなかったら縮小する
    }
  }

  &__message-title {
    font-size: 20px;
    font-weight: bold;

    @include mq(sm) {
      margin-top: 36px;
    }
  }

  &__message-text {
    margin-top: 36px;
    @include mq(sm) {
      margin-top: 28px;
    }
  }
}

/*=====================================================
# feature
===================================================== */
.feature {
  @include mq(sm) {
    max-width: 340px;
  }
}
.feature-item-list {
  margin-top: 64px;
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
  @include mq(sm) {
    margin-top: 45px;
  }
}
.feature-item {
  @include mq(md) {
    flex: 0 0 (340px / 1200px * 100%); //(itemの横幅340px / 1200px (インナー幅))
  }
  @include mq(sm) {
    & + & {
      margin-top: 45px;
    }
  }

  &__link {
    display: block;
    color: $font-color;
    background: #ffffff;
    box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);
  }

  &__content {
    font-weight: 600;
    padding: 30px 15px;
    text-align: center;
  }
}

/*=====================================================
# about
===================================================== */
.about {
  color: #fff;
  position: relative;
  padding: 120px 0;

  &::before {
    //上から黒い要素をかぶせる
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
  }
  @include mq(md) {
    background: url(/img/bg@2x.png) no-repeat center center/cover;
  }
  @include mq(sm) {
    background: url(/img/bg-sp@2x.png) no-repeat center center/cover;
    padding: 175px 0 52px;
  }
}
.about-inner {
  position: relative;
  &__title {
    font-size: 22px;
    font-weight: bold;
    @include mq(sm) {
      font-size: 20px;
    }
  }

  &__text {
    margin-top: 36px;
    @include mq(sm) {
      margin-top: 28px;
      font-size: 14px;
      line-height: (24/14);
    }
  }
}
/*=====================================================
# product
===================================================== */
.product {
  max-width: 940px;
  @include mq(sm) {
    max-width: 340px;
    padding: 50px;
  }
}
.product-item-list {
  margin-top: 64px;
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
  @include mq(sm) {
    margin-top: 44px;
  }
}

.product-item {
  @include mq(md) {
    flex: 0 0 (260px / 940px * 100%);
  }
  @include mq(sm) {
    & + & {
      margin-top: 48px;
    }
  }

  &__link {
    display: block;
    color: $font-color;
    font-size: 14px;
  }

  &__content {
    margin-top: 24px;
  }

  &__content-price {
    color: #989898;
    margin-top: 12px;
  }
}
.product-footer {
  text-align: center;
  margin-top: 44px;
}

/*=====================================================
# news
===================================================== */
.news {
  max-width: 1040px;
  @include mq(sm) {
    padding: 0 32px;
  }
}
.news-list {
  margin-top: 44px;
}
.news-item {
  border-bottom: 1px solid #e0e0e0;
}
.news-item-link {
  padding: 22px 0;
  font-size: 14px;
  color: $font-color;
  display: block;

  @include mq(md) {
    display: flex;
    align-items: center;
  }
}
.news-item-header {
  @include mq(md) {
    flex: 0 0 260px;
  }
}
.news-item-picture {
  img {
  }
}
.news-item-body {
  @include mq(md) {
    flex: 0 1 100%;
    margin-left: 40px;
  }
  @include mq(sm) {
    margin-top: 24px;
  }
}
.news-date {
  font-size: 14px;
}
.news-item-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: (32 / 18);
}
.news-item-text {
  font-size: 14px;
  margin-top: 15px;
  color: #888888;
  line-height: (24/14);
}
.news-footer {
  text-align: center;
  margin-top: 44px;
}
/*=====================================================
# concept-2
===================================================== */
.concept-2-inner {
  @include mq(md) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; //要素を逆にする
  }
  margin-top: 64px;
}

.concept-2-picture {
  @include mq(md) {
    flex: 0 0 50%; //50%以上にはならない
  }
}
.concept-2-message {
  @include mq(md) {
    margin-right: (80px / 1200px * 100%); //可変的にする
    flex: 0 1 50%; //50%の幅が余っていなかったら縮小する
  }
  @include mq(sm) {
    margin-top: 40px;
  }
}
.concept-2-message-title {
  font-size: 28px;
  font-weight: bold;
  @include mq(sm) {
    font-size: 20px;
  }
}
.concept-2-message-text {
  margin-top: 36px;
  @include mq(sm) {
    font-size: 14px;
  }
}

/*=====================================================
# contact
===================================================== */
.contact {
  background: url(/img/contact@2x.png) no-repeat center center/cover;
  padding: 72px 40px 80px;
  margin-top: 225px;

  .util-title {
    color: #3ea1d1;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    border: 0;
    font-size: 16px;
    padding: 0.2em 0.5em;
    border-radius: 2px;
    box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
  }
  input[type="text"],
  input[type="email"] {
    height: 40px;
  }
  textarea {
    min-height: 112px;
    resize: vertical;
  }
  @include mq(sm) {
    margin-top: 96px;
    padding: 57px 28px;
  }
}
.contact-form {
  margin-top: 60px;
  @include mq(sm) {
    margin-top: 30px;
  }
}
.contact-list {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 18px;
}
.contact-text {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
}
.contact-text-inline {
  font-size: 16px;
  color: #e7728e;
}
.contact-item {
  @include mq(md) {
    display: flex;
  }
  & + & {
    margin-top: 32px;
  }
}
.contact-item-title {
  @include mq(md) {
    flex: 0 1 100%; //余っている部分を使う
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-style: solid;
      border-width: 20px 0 20px 8px;
      border-color: transparent transparent transparent rgba(62, 161, 209, 0.7);
      top: 0;
      right: -8px;
    }
  }
  background: rgba(62, 161, 209, 0.7);
  color: #ffff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  position: relative;

  @include mq(sm) {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 16px;
  }
}
.contact-item-inline {
  font-size: 12px;
  color: rgba(231, 114, 142, 1);
  vertical-align: super;
  line-height: 1;
  @include mq(sm) {
    font-size: 10px;
  }
}
.contact-item-input {
  @include mq(sm) {
    margin-top: 3px;
  }
  @include mq(md) {
    flex: 0 0 320px;
    margin-left: 18px;
  }
}
.contact-radio-wrap {
  display: inline-flex;
  border: solid 1px #fff;
  border-radius: 1px;
  box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
}
.contact-radio {
  position: relative;
}
.contact-radio-part {
  display: block;
  background: #fff;
  color: $primary-color;
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
}
.contact-radio-input {
  position: absolute; //display-noneだとタブでフォーカスが効かなくなる
  top: 0;
  left: 0;
  opacity: 0;

  &:checked + .contact-radio-part {
    background: $primary-color;
    color: #fff;
    border-radius: 1px;
  }
  &:focus + .contact-radio-part {
    outline: -webkit-focus-ring-color auto 1px;
  }
}
.contact-privacy {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.contact-privacy-part {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid $primary-color;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &:checked + .contact-privacy-part {
    width: 10px;
    border-top: 0;
    border-left: 0;
    background: transparent;
    transform: rotate(45deg);
    top: -5px;
    left: 5px;
  }
  &:focus + .contact-privacy-part {
    outline: -webkit-focus-ring-color auto 1px;
  }
  &:checked:focus + .contact-privacy-part {
    outline: none;
  }
}
.contact-footer {
  text-align: center;
  margin-top: 20px;
  @include mq(sm) {
    margin-top: 29px;
  }
}
.contact-privacy-link {
  color: $primary-color;
  text-decoration: underline;
}
.contact-footer-submit {
  margin-top: 40px;
}
.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;

  &.-error {
    color: #f00;
  }
}
/*=====================================================
# footer
===================================================== */
.footer {
  background: #f7f7f7;
  padding: 42px 40px 12px;
  @include mq(sm) {
    padding: 36px 0 12px;
  }
}
.footer-logo {
  width: 120px;
  margin: 0 auto;
}
.footer-nav-list {
  @include mq(md) {
    display: flex;
    justify-content: center;
  }
  @include mq(sm) {
    text-align: center;
    margin-top: 16px;
  }
}
.footer-nav-item {
  margin-top: 8px;

  @include mq(md) {
    & + & {
      margin-left: 32px;
    }
  }
}
.footer-nav-link {
  font-size: 12px;
  color: $font-color;
  display: block;
  padding: 1em 0;
  @include mq(sm) {
    padding: 0.3em 0;
  }
}

.footer-sns-list {
  text-align: center;
  @include mq(sm) {
    margin-top: 10px;
  }
}
.footer-sns-item {
  display: inline-block;

  & + & {
    margin-left: 10px;
  }
}
.footer-sns-link {
  color: $primary-color;
  font-size: 24px;
  display: block;
  padding: 0.1em 0.5em;
}
.footer-copyright {
  color: #888;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;

  @include mq(sm) {
    margin-top: 16px;
  }
}

.footer-inner {
  padding-top: 60px;
  margin-top: 80px;
}
